:root {
    --h1: 4.5rem;
    --h2: 2.25rem;
    --p: 1.125rem;
    --p-hero-banner: 2.25rem;
    --p-and-h1-hero-banner-text-color: #F8FAFC;
    --headings-and-body-text: Arial, Helvetica, sans-serif;
    --hbbg: #005A8F;
    --container-background-color: #FFFFFF;
    --footer-background-color: #002439;
    --link-color: #BD3A5A;
    --link-hover-color: #84283F;
    --link-text-size: 1.375rem;
}

